@{
    ViewData["Title"] = "Staff Home Page";
}

<div class="container row p-0 m-0">
    <div>
        <h2>Welcome to Staff Home Page</h2>
    </div>
    <div class="col-12 border p-3">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a asp-action="CreateEditDonorRecord" asp-controller="Staff" class="btn btn-info form-control text-white">
                    Add New Donor Record
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="ViewDonorRecord" asp-controller="Staff" class="btn btn-info form-control text-white">
                    View Donor Record
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="CreateEditDonationRecord" asp-controller="Staff" class="btn btn-info form-control text-white">
                    Add New Donation Record
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="ViewDonationRecord" asp-controller="Staff" class="btn btn-info form-control text-white">
                    View Donation Record
                </a>
            </li>
        </ul>
    </div>
</div>


