@{
    ViewData["Title"] = "View Donation Record";
}

<div class="container row p-0 m-0">
    <div>
        View Donation Record
    </div>
    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-striped table-bordered" style=" width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date of Donation</th>
                    <th>Amount of Donation</th>
                    <th>Receipt Number</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Scripts{
    <script src="~/js/viewDonation.js"></script>
}
