@{
    ViewData["Title"] = "View Donor Record";
}

<div class="container row p-0 m-0">
    <div>
        View Donor Record
    </div>
    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-striped table-bordered" style=" width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Nric</th>
                    <th>Address</th>
                    <th>Contact No</th>
                    <th>User Name</th>
                    <th>Password</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Scripts{
    <script src="~/js/viewStaffDonor.js"></script>
}
